body{
    background-color: black;
    color: aliceblue;
}

.numeral{
    float: left;
    margin-right: 150px;
    margin-left: 55px;
}

#topText{
    text-align: center;
}

#music{
    transform: scale(.03);
}

#cross{
    transform: scale(.1);
}

.groups{
    transform-origin: 25% 25%;
    transform: scale(2);
    transform-box: fill-box;
    transition: transform 1s;
}

.lines:hover{
    transform-origin: 25% 25%;
    transition: transform 1s;
}